@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #212428;
    background-image: url(./src/bg.png);
    background-size:110%;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.08em;
    text-shadow: 0 0 5px #fff;
}

/* BG beállítások */

.glassEffect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #000;
}

.glassEffectNav {
    position: fixed;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #000;
}

.glassEffectFtr {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #000;
}

.mainDiv{
    margin: 10em;
    padding: 10em;
}

/* TXT beállítások */

.txtSmaller {
    font-size: 16px;
}

.txtBigger {
    font-size: 24px;
}

.txtLink {
    color: #fff;
    text-decoration: none;
}

.txtLink:hover {
    color: #d3d3d3;
    text-shadow: #d3d3d3;
    transition: 0.3s;
}

.txtLeft {
    text-align: left;
}

.txtJustify {
    text-align: justify;
}

.wholePage {
    animation: transitionIn 1.3s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.answCorrect {
    background-color: #00dd00;
}
    
.answWrong {
    background-color: #dd0000;
}