body {
    background-image: url(./src/churros-background.jpg);
    background-size: cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-shadow: 0 0 7px #000;
}

.navbg {
    background-color: #252525;
    box-shadow: 0 0 20px #000;
    border-bottom: 3px solid #fff;
}

.ftrbg {
    background-color: #252525;
    box-shadow: 0 0 20px #000;
    border-top: 3px solid #fff;
}

.navbgd {
    background-color: #252525;
    border: 3px solid #fff;
    box-shadow: 0 0 20px #000;
}

.smallpageftr {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.smallertxt {
    font-size: 14px;
}

.mainpart {
    background-color: #252525;
    margin-top: 10rem;
    margin-bottom: 11rem;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    border: 3px solid #fff;
}

.mainimg {
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    border: 3px solid #fff;
}

.maintxt {
    font-size: 2.3rem;
}

.wholepage {
	animation: transitionIn 1.3s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #8a8a8a;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

a:link {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #bebebe;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

.intxtlink:link {
    text-decoration: underline;
    transition: 0.3s;
}